/*==============#BUTTONS================*/
.btn {
	border: 1px solid;
	color: #52A962;
	padding: 3px 17px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
	&--sm {
		max-width: 165px;
		width: 100%;
		font-size: 14px;
		padding: 14px 10px 11px;
	}
	&--md {
		max-width: 283px;
		width: 100%;
		padding: 22px 10px 18px;
		font-size: 18px;
	}
	&--lg {
		max-width: 328px;
		width: 100%;
		padding: 20px 10px 17px;
		font-size: 19px;
		text-transform: uppercase;
	}
	&--white {
		background-color: #FFF;
		color: #000;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.5);
		&:hover {
			background-color: #D6D6D6;
			box-shadow: 0 3px 0 0 rgba(214, 214, 214, 0.5);
		}
	}
	&--yellow {
		background-color: #F6CE45;
		color: #000;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 3px 0 0 #AA8C4C;
		&:hover {
			background-color: #ECBC14;
			box-shadow: 0 3px 0 0 #C3A159;
		}
	}
	&:hover {
		border-color: #248435;
	}
	&[disabled] {
		background-color: #F4F4F4;
		color: #CECECE;
		box-shadow: 0 3px 0 0 #CECECE;
	}
}