/*==============#FOOTER================*/
.footer {
	background-color: #252525;
	padding: 60px 0 35px;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	&_info {
		font-size: 12px;
		line-height: 16px;
		color: #8C8C8C;
		float: left;
		a {
			color: #8C8C8C;
		}
	}
	.dop-links {
		padding-bottom: 25px;
		li {
			display: inline-block;
			border-left: 1px solid;
			padding: 0 7px 0 10px;
			&:first-child {
				border-left: 0;
				padding-left: 0;
			}
		}
	}
	&_phone {
		color: #52A962;
		float: left;
		p {
			margin: 0 0 6px;
			font-size: 15px;
		}
		a {
			color: #52A962;
			font-size: 22px;
		}
	}
}
@media screen and (min-width: 1024px) {
	.footer {
		&_phone {
			float: right;
			text-align: right;
		}
	}
}
