/*==============#HEADER================*/
.header {
	&_inner {
		overflow: hidden;
		max-width: $container_max_width;
		margin: 0 auto;
		box-sizing: border-box;
	}
	&_phone {
		font-size: 14px;
		display: inline-block;
		margin-top: 33px;
		margin-left: 3.0833%;
		a {
			font-size: 16px;
			line-height: 1;
		}
		span {
			display: block;
			font-size: 11px;
		}
	}
}
.logo {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}
.nav-panel {
	float: left;
	text-transform: uppercase;
	font-family: $font_stem_medium;
	font-size: 14px;
	padding-top: 45px;
	padding-left: 10px;
	clear: left;
	margin-bottom: 20px;
	a {
		margin-right: 16px;
		font-size: 12px;
	}
}
.user-panel {
	width: 350px;
	background-color: #fff;
	border-left: 1px solid #D4D4D4;
	clear: both;
	a {
		display: inline-block;
		position: relative;
		margin-right: 20px;
		box-sizing: border-box;
	}
	&_sign {
		padding: 17px 0 11px 30px;
		.icon-login {
			position: absolute;
			left: 2px;
		}
	}
	&_reg {
		padding: 11px 0 17px 30px;
		.icon-user {
			position: absolute;
			left: 4px;
			top: 8px;
		}
	}
	&_left,
	&_right {
		float: left;
	}
	&_left {
		width: 185px;
		background-color: #fff;
		padding: 7px 0 12px 25px;
		box-sizing: border-box;
	}
	&_right {
		width: 165px;
		.open-platform {
			background-color: #52A962;
			position: relative;
			color: #fff;
			width: 100%;
			text-align: center;
			font-family: 'StemBold';
			font-size: 13px;
			line-height: 16px;
			text-transform: uppercase;
			letter-spacing: 0.6px;
			padding: 28px 0 18px;
			transition: background-color 0.1s;
			&:before {
				content: '';
				position: absolute;
				width: 15px;
				height: 13px;
				top: 8px;
				left: 0;
				right: 0;
				margin: 0 auto;
				background-image: url(../img/design/icon-chart.svg);
				background-repeat: no-repeat;
			}
			&:hover {
				background-color: #5eb76e;
			}
		}
		.exit {
			background-color: #E5E5E5;
			width: 100%;
			font-family: 'StemMedium';
			font-size: 10px;
			text-transform: uppercase;
			text-align: center;
			padding: 10px 0;
			transition: background-color 0.1s;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;	
				background: url(../img/design/icon-exit.svg) no-repeat;
				width: 14px;
				height: 12px;
			}
			&:hover {
				background-color: #d4cdcd;
			}
		}
	}
	&_info {
		font-size: 13px;
	}
	.btn {
		font-size: 12px;
		padding-top: 7px;
		padding-bottom: 7px;
		margin-top: 5px;
		&.icon-money {
			padding-left: 10px;
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				width: 20px;
				height: 12px;
				background: url(../img/design/icon-money.svg) no-repeat;
			}
		}
		&:hover {
			background-color: #ECBC14;
		}
	}
}
@media screen and (min-width: 360px){
	.header {
		&_phone {
			a {
				font-size: 20px;
			}
			span {
				font-size: 14px;
			}
		}
	}
}
@media screen and (min-width: 700px){
	.user-panel {
		float: right;
		clear: none;
		a {
			display: block;
		}
		&_sign {
			border-bottom: 1px solid;
		}
	}
}
@media screen and (min-width: 1024px){
	.header {
		&_inner {
			padding-left: 54px;
		}
	}
	.nav-panel {
		clear: left;
		a {
			font-size: 14px;
		}
	}
}
@media screen and (min-width: 1140px){
	.header {
		&_phone {
			margin-left: 2.0833%;

		}
	}
	.nav-panel {
		clear: none;
		margin-left: 2.0833%;
		margin-bottom: 0;
		a {
			font-size: 13px;
		}
	}
}
@media screen and (min-width: 1280px){
	.header {
		&_phone {
			margin-left: 4.5833%;
			a {
				font-size: 24px;
			}
		}
	}
	.nav-panel {
		margin-left: 4.5833%;
		a {
			font-size: 14px;
		}
	}
}