/*==============#SECTION-WHAT================*/
.whatuse {
	padding: 65px 0 0;
	.cols {
		padding-bottom: 24px;
	}
	.col_left {
		box-sizing: border-box;
		@media screen and (max-width: 1023px) {
			padding-bottom: 40px;
		}
		@media screen and (min-width: 1024px) {
			width: 41.2%;
		}
	}
	.col_right {
		box-sizing: border-box;
		
		
		@media screen and (max-width: 1023px) {
			border-top: 2px dotted #00AD56;
			padding-top: 40px
		}
		@media screen and (min-width: 1024px) {
			width: 58.8%;
			border-left: 2px dotted #00AD56;
			padding-left: 5.2083%;
		}
	}
	h2 {
		margin-bottom: 54px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-family: StemBold;
		letter-spacing: 1.2px;
		
	}
}
.whatuse-other {
	&_img {
		display: inline-block;
		vertical-align: top;
		box-shadow: 0 5px 10px 0 #B9B9B9;
		margin-right: 40px;
		margin-bottom: 20px;
	}
	&_text {
		display: inline-block;
		vertical-align: top;
		
		@media screen and (min-width: 1024px) {
			max-width: 240px;
		}
		h3 {
			font-size: 27px;
		}
		p {
			margin-bottom: 0;
		}
		b {
			font-size: 17px;
		}
		ul {
			list-style-type: disc;
			margin-left: 25px;
			font-size: 15px;
			padding-top: 5px;
		}
	}
}
.whatuse-binex {
	&_img {
		display: inline-block;
		vertical-align: top;
		margin-right: 45px;
		box-shadow: 0 5px 10px 0 #B9B9B9;
		margin-bottom: 20px;
	}
	&_text {
		display: inline-block;
		vertical-align: top;
		
		@media screen and (min-width: 1024px) {
			max-width: 415px;
		}
		h3 {
			font-size: 27px;
		}
		h4 {
			font-size: 22px;
			color: #52A962;
			margin-bottom: 10px;
			&.icon-percent {
				&:after {
					content: '';
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
					width: 68px;
					height: 68px;
					background: url('../img/design/percent.svg') no-repeat;
				}
			}
		}
		p {
			margin-bottom: 0;
		}
		b {
			font-size: 17px;
		}
		ul {
			list-style-type: disc;
			margin-left: 25px;
		}
	}
	&_action {
		overflow: hidden;
		padding: 38px 0 25px;
		.appeal {
			float: left;
			width: 318px;
			font-size: 15px;
			line-height: 18px;
			box-sizing: border-box;
			text-decoration: underline;
			position: relative;
			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}
			@media screen and (min-width: 768px) {
				padding-right: 75px;
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					width: 30px;
					height: 34px;
					background: url(../img/design/arrow.svg) no-repeat;
				}
			}
			span {
				font-size: 22px;
				display: inline-block;
				border-bottom: 1px solid;
				line-height: 0.8;
			}
		}
		.btn {
			
			@media screen and (min-width: 768px) {
				float: right;
				margin-right: 40px;
			}
		}
	}
}