/*==============#SECTION-INFO================*/
.reviews {
	background-color: #F2F2F2;
	padding: 50px 0;
	min-height: 407px;
	h2 {
		font-size: 42px;
		margin-bottom: 38px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-family: StemBold;
		letter-spacing: 3.1px;
	}
	.cols {
		padding-bottom: 24px;
	}
	.col {
		box-sizing: border-box;
		// &:first-child {
		// 	border-bottom: 3px dashed #52A962;
		// 	margin-bottom: 45px;
		// }
	}
	&_author {
		padding: 0 60px;
		max-width: 470px;
		overflow: hidden;
		margin: 0 auto 27px;
		min-height: 127px;
		.name {
			font-family: $font_stem_medium;
			margin-bottom: 5px;
		}
		.fb-profile {
			font-family: $font_stem_italic;
			font-size: 13px;
			padding-top: 3px;
			span {
				color: #52A962;
				font-size: 13px;
			}
		}
	}
	&_info {
		padding-top: 28px;
		span {
			font-size: 14px;
		}
	}
	&_text {
		max-width: 590px;
		margin: auto;
		background-color: #00AD56;
		padding: 30px 45px 15px 25px;
		box-sizing: border-box;
		position: relative;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			top: -26px;
			left: 50%;
			width: 0;
			height: 0;
			border-bottom: 26px solid #00AD56; 
			border-left: 30px solid transparent;
		}
	}
	.slick-arrow {
		width: 28px;
		height: 53px;
		position: absolute;
		top: 38px;
		&.slick-prev {
			background: url(../img/design/slider-arrow-prev.svg);
			left: 0;
		}
		&.slick-next {
			background: url(../img/design/slider-arrow-next.svg);
			right: 0;
		}
	}
}

.bonus {
	border: 3px dashed #52A962;
	position: relative;
	margin-top: 50px;
	font-size: 18px;
	line-height: 1.1111;
	padding: 40px 54px 32px;
	text-align: center;
	&_icon {
		width: 126px;
		background-color: #F2F2F2;
		position: absolute;
		top: -40px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 14px 0;
		text-align: center;
	}
	b {
		font-family: 'StemBold';
	}
	.btn {
		font-size: 14px;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 480px) {
	.reviews {
		&_img {
			float: left;
		}
		&_info {
			padding-left: 155px;
		}
	}
}
@media screen and (min-width: 1024px) {
	.reviews {
		.col {
			box-sizing: border-box;
			// &:first-child {
			// 	border-right: 3px dashed #52A962;
			// 	border-bottom: 0;
			// 	margin-bottom: 0;
			// }
		}
	}

	.reviews {
		&-slider {
			margin-right: 42px;
		}
		&_info {
			span {
				font-size: 16px;
			}
		}
	}
}