/*==============#SECTION-EXAMPLE================*/
.example {
	background-color: #01A34C;
	
	padding: 50px 0;
	box-sizing: border-box;
	h2 {
		// font-size: 45px;
		margin-bottom: 14px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-family: StemBold;
		letter-spacing: 1.2px;
		color: #fff;
	}
	&_subtitle {
		font-family: StemBold;
		font-size: 20px;
		line-height: 1.1805;
		text-align: center;
		letter-spacing: 1.2px;
	}
	&_chart {
		position: relative;
		background-image: url(../img/content/chart.png);
		background-repeat: no-repeat;
		background-position: 40% 0;
		height: 475px;
		@media screen and (max-width: 375px) {
			background-position: 35% 0;
		}
	}
	.example_buble {
		background-color: #FFD200;
		color: #000;
		position: absolute;
		@media screen and (max-width: 640px) {
			display: none;
		}
		&--sm {
			width: 188px;
			height: 188px;
			border-radius: 100%;
			text-align: center;
			padding-top: 70px;
			box-sizing: border-box;
			background-image: url('../img/design/icon-money2.svg');
			background-repeat: no-repeat;
			background-position: center 28px;
			background-size: 70px auto;
			bottom: 0;
			left: 0;
			.text {
				display: inline-block;
				font-size: 14px;
				line-height: 16px;
				width: 88px;
			}
			.sum {
				display: block;
				font-size: 32px;
				line-height: 38px;
			}
			
			@media screen and (max-width: 767px) {
				bottom: 50px;
			}
		}
		&--lg {
			width: 304px;
			height: 304px;
			border-radius: 100%;
			text-align: center;
			padding-top: 127px;
			box-sizing: border-box;
			background-image: url('../img/design/icon-money3.svg');
			background-repeat: no-repeat;
			background-position: center 55px;
			background-size: 100px auto;
			right: 0;
			top: 0;
			@media screen and (max-width: 767px) {
				width: 260px;
				height: 260px;
				padding-top: 110px;
				background-position: center 38px;
				background-size: 80px auto;
			}
			.text {
				display: inline-block;
				font-size: 24px;
				line-height: 28px;
				width: 130px;
				@media screen and (max-width: 767px) {
					font-size: 22px;
					line-height: 24px;
				}
			}
			.sum {
				display: block;
				font-size: 44px;
				line-height: 52px;
				@media screen and (max-width: 767px) {
					font-size: 38px;
				}
			}
		}
	}
}