/*==============#SECTION-TOOLS================*/
.tools {
	padding: 59px 0 50px;
	h2 {
		margin-bottom: 0;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-family: StemBold;
		letter-spacing: 3.1px;
		@media screen and (min-width: 1024px) {
			margin-bottom: 48px;
		}
	}
	.h2-medium {
		@media screen and (min-width: 768px) {
			font-size: 34px;
			letter-spacing: 1px;
		}
	}
	h3 {
		font-size: 24px;
		font-family: StemBold;
	}
	&_boxes {
		@media screen and (min-width: 1024px) {
			display: table;
			width: 100%;
		}
	}
	&_box {
		text-align: center;
		&:first-child {
			padding-right: 04.9542%;
		}
		&:last-child {
			padding-left: 04.9542%;
		}
		&--medium {
			border-width: 3px 0 3px 0;
			border-style: dashed;
			border-color: #52A962;
			margin: 45px 0;
			padding: 45px 04.1920% 0;
		}
		@media screen and (max-width: 1023px) {
			padding-right: 6.192%;
    		padding-left: 6.192%;
		}
		@media screen and (min-width: 1024px){
			width: (420 / 1312) * 100%;
			display: table-cell;
			&--medium {
				border-width: 0 3px 0 3px;
				width: (470 / 1312) * 100%;
				padding-top: 0;
				margin: 0;
			}
		}
	}

	&_img {
		position: relative;
		height: 177px;
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}