/*==============#SECTION-CONTACTS================*/
.contacts {
	background-color: #52A962;
	color: #fff;
	padding: 35px 0 37px;
	.address {
		text-align: center;
		font-size: 20px;
		line-height: 26px;
		padding-top: 8px;
		a {
			color: #fff;
		}
	}
	.support-mail {
		display: inline-block;
		padding-top: 4px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.support {
	text-align: center;
	p {
		font-size: 20px;
		margin-bottom: 15px;
	}
	&_phone {
		font-size: 27px;
		color: #fff;
	}
	.btn {
		margin-bottom: 15px;
	}
}
.call {
	padding-top: 27px;
	.skype {
		width: 165px;
		font-size: 16px;
		padding: 14px 10px 11px;
		color: #fff;
		border-radius: 5px;
	}
	.btn {
		&--white {
			box-shadow: 0 3px 0 0 #2F9241;
			&:hover {
				box-shadow: 0 3px 0 0 #2F9241;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.contacts {
		padding: 75px 0 77px;
		.address,
		.support {
			width: 50%;
			float: left;
		}
		.support {
			padding-left: 62px;
			box-sizing: border-box;
		}
	}
}