/*==============#SLICK-CUSTOM-STYLE================*/
// .signals-slider {
// 	background-color: #F6F6F6;
// 	box-shadow: 0 5px 10px 0 #B9B9B9;
// 	overflow: hidden;
// 	max-width: 355px;
// 	margin: auto;
// }
// .reviews-slider {
// 	padding: 30px 0 45px;
// 	margin: auto;
// 	.slick-arrow {
// 		top: 45px;
// 	}
// 	.slick-prev {
// 		left: 0;
// 		@include sprite($s-arrow-green-left);
// 	}
// 	.slick-next {
// 		right: 0;
// 		@include sprite($s-arrow-green-right);
// 	}
// }
.slick-slide {
	outline: none;
}
.slick-dots {
	font-size: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
	line-height: normal;

	li {
		display: inline-block;
		margin: 0 3px;
	}
	button {
		width: 14px;
		height: 14px;
		border: 1px solid #313131;
		background-color: transparent;
		box-sizing: border-box;
		border-radius: 14px;
		outline: none;
	}
	.slick-active {
		button {
			background-color: #313131;
		}
	}
}
.slick-arrow {
	background: url($sprite_path) no-repeat;
	border: 0;
	outline: none;
	font-size: 0;
	position: absolute;
	z-index: 2;
	&:hover {
		opacity: 0.6;
	}
}
@media screen and (min-width: 1024px) {
	// .signals-slider {
	// 	max-width: 240px;
	// }
	.reviews-slider {
		padding-bottom: 95px;
	}
}
@media screen and (min-width: 1140px) {
	// .signals-slider {
	// 	max-width: 310px;
	// }
}
// @media screen and (min-width: 1281px) {
// 	.signals-slider {
// 		max-width: 355px;
// 	}
// }