$s-sp-1-img-1: 0px 0px 0px 0px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
$s-sp-1-img-2: 64px 0px -64px 0px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
$s-sp-2-img-1: 128px 0px -128px 0px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
$s-sp-2-img-2: 128px 64px -128px -64px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
$s-sp-3-img-1: 0px 64px 0px -64px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
$s-sp-3-img-2: 64px 64px -64px -64px 64px 64px 192px 128px '../img/sprite/sprite-cov.png';
